                                /*CONTACT FORM*/
  
  .Principal {
      width: 100%;
      height: 100vh;
      background: rgb(18,7,191);
      background: linear-gradient(90deg, rgba(18,7,191,1) 0%, rgba(0,122,255,1) 49%, rgba(2,143,235,1) 100%);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .shape {
      clip-path: polygon(0 80%, 105% 36%, 100% 100%, 0% 100%);
      width: 100%;
      height: 150vh;
      position: absolute;
      background-color: #fff;
  }
  
  .Form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      background-color: #ffffff;
      border-radius: 10px;
      display: flex;
      width: 1000px;
      height: 700px;
      z-index: 90;
      overflow-x: hidden;
  }
  
  
  .FormImput { 
      grid-area: 1 / 1 / 2 / 2;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 30px 0px;
      width: 50%;
  }
  
  .FormImput h2 {
      font-size: 2em;
      color: #007AFF;
      margin: 10px;
  }
  .FormImput p {
      font-size: 1.5em;
      font-weight: bold;
  }
  
  input {
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 1.4em;
  }
  textarea {
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 1.4em;
      resize: none;
  }
  
  .Imputs {
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: space-between;
      width: 80%;
      padding: 10%;
  }
  
  
  .FormInfo { 
      grid-area: 1 / 2 / 2 / 3; 
      display: flex;
      flex-direction: column;
      width: 50%;
  }
  
  .FormInfo img {
      width: 90%;
      padding: 20px;
  }
  
  .FormInfo ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #1450e7;
      height: 25vh;
      padding-top: 4vh;
  }
  
  .FormInfo ul li {
      font-size: 1.3em;
      font-weight: bold;
      color: #0B254B;
  }
  
  .FormInfo i {
      margin-right: 7px;
      color: #1450e7;
  }

    /*-------------------Contact media querys--------------*/
  
  @media screen and (max-width: 992px) {
      .Form {
          width: 80%;
      }
  
      .FormInfo ul li {
          font-size: 1.1em;
          color: #06283D;
      }
  
      .FormInfo i {
          color: #1450e7;
      }
  
      .FormInfo {
          justify-content: center;
      }
  
      .Imputs input {
          font-size: 1em;
      }
  
      .Imputs textarea {
          font-size: 1em;
      }
  }
  
  @media screen and (max-width: 720px) {
      .Form {
          flex-direction: column;
      }
  
      .FormInfo {
          width: 100%;
      }
  
      .FormImput {
          width: 100%;
      }
  
      .Imputs input {
          font-size: 1.5em;
          justify-content: space-between;
          height: 20vh;
      }
  
      .Imputs .Btn {
          margin: auto;
          margin-top: 30px;
      }
  
      .Imputs textarea {
          font-size: 1.5em;
          padding-top: 25%;
          padding-bottom: 10px;
          height: 60%;
          overflow-y: hidden;
      }
  
      .Imputs {
          padding: 0;
      }
  
      .FormInfo {
          margin-top: 15%;
      }
  
      .FormInfo img {
          width: 70%;
          margin: auto;
      }
      .FormInfo ul {
          font-size: 1em;
          padding: 20px;
      }
      
      .FormInfo ul li {
          margin: 8px;
      }
  
  }
  
  @media screen and (max-width: 430px) {
      
      .Imputs {
          width: 100%;
      }
  
      .Imputs input {
          font-size: 1.1em;
          justify-content: space-between;
          height: 10vh;
      }
  
      .Imputs textarea {
          font-size: 1.1em;
          padding-top: auto;
          padding-bottom: 1px;
          height: 40%;
      }
  
      .FormInfo img {
          width: 100%;
          padding: 0;
      }
  
      .FormImput p {
          font-size: 1.1em;
      }
  
      .FormInfo {
          width: 100%;
      }
      .FormInfo ul {
          padding: 0;
          font-size: 0.7em;
      }
  }
  